.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 10px;
  flex: 0;
  max-height: 50vh;
  height: fit-content;
  padding: 7rem 2rem 3rem 2rem;
  background: white;
}


.login-form>div:last-child {
  display: flex;
  justify-content: space-between;
}


.login-section {
  font-size: 12px;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.login-form {
  box-shadow: 0px 0px 2rem var(--clr-shadow);
}

.login-btn:hover {
  background: #f5f5f5;
  box-shadow: 1px 1px 4px var(--clr-shadow), inset 1px 1px 4px var(--clr-shadow);
}

.login-submit {
  padding: 0.7rem 1.1rem;
  margin-top: 2rem;
  background-color: var(--clr-secoundary-2);
  color: var(--clr-primary);
  border: none;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.login-head {
  position: absolute;
  top: 23vh;
}

.login-submit:hover {
  background: #000;
}

.login-btn {
  flex-grow: 0;
  padding: 0.7rem 0.9rem;
  border: none;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border-radius: 0rem;
}

input:focus-within {
  outline: none;
}

.login-section>div>div:nth-child(1) {
  position: relative;
}

.login-input {
  border: none;
  /* 1px black solid; */
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  background: #ede9e8;
  box-shadow: 2px 2px 4px #dbd7d7, inset 2px 2px 4px #dbd7d7;
}

@media screen and (max-width:640px) {
  .login-head {
    top: 29vh;
  }
}
