.tabs {
  text-decoration: none;
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0px;
  margin: 0px;
}

.navbar {
  display: flex;
  padding: var(--size-navbar-p-y) var(--size-navbar-p-x);
  max-width: 100vw;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 2px 4px var(--clr-shadow);
  height: var(--size-navbar-h);
  animation: scrollDown 0.25s ease-in;
}

.login-btn {
  border: none;
  text-decoration: none;
  color: black;
  cursor: pointer;
}


.tabs>li>a {
  text-decoration: none;
  color: var(--clr-secoundary);
  font-weight: 300;
  font-size: 1.0rem;
}

.tabs>li>a:hover {
  font-weight: 600;
}

.logo {
  font-weight: 700;
  font-size: 1.4rem;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: max(33%, 430px);
}

@media screen and (max-width:640px) {
  .nav-right {
    width: clamp(16px, 64%, 225px);
  }
}
