.img-uploader {
  background: var(--clr-light-black);
  aspect-ratio: 1 / 1;
  width: 7.4rem;
  border-radius: 50%;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.3rem;
  position: relative;
  margin: 0 auto;

  & svg {
    cursor: pointer;
  }

  & img {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
  }

}

.avatar-close {
  position: absolute;
  top: -0.25rem;
  right: -0.25rem;

  &:hover>path {
    fill: red;
  }
}

.file-add>path {
  stroke: #181818;
}
