@font-face {
  font-family: "Jacques Francois";
  src: url("../asset/fonts/JacquesFrancois.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --size-herosection-image-size: 300px;
  --size-herosection-image-size-min: 100px;
}

.hero-section {
  position: relative;
  height: calc(100vh - var(--size-navbar-h) - var(--size-navbar-p-y)*2);
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0px;
  margin: 0px;
  gap: max(2rem, 20vw);
  animation: appear 0.75s ease-in;
}

.hero-img {
  margin-left: 3rem;
  aspect-ratio: 1/1;
  width: 100%;
  padding: 1rem;
}

.hero-section-img {
  width: clamp(240px, 75%, 500px)
}

.hero-section-right>*>* {
  padding: 0px;
  margin: 0px;
}

.hero-section-right>div:first-child {
  display: flex;
  flex-direction: column;
}

.hero-section-right>div:first-child>h1 {
  font-weight: 600;
  font-family: cursive, serif;
  text-wrap: balance;
  font-size: 2.4rem;
}

.hero-section-right>div:first-child>h5 {
  font-family: "Jacques Francois", serif;
  font-weight: 200;
  font-size: 1.8rem;
}

.hero-section-right {
  display: flex;
  gap: 0.3rem;
  flex-direction: column;
}

.hero-section-right>div:last-child {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.hero-section-para {
  font-weight: 200;
  font-size: 0.9rem;
}

@media screen and (max-width: 640px) {
  .hero-section {
    justify-content: center;
  }
}


.hero-section-cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 256px;
}

.hero-section-cta>a {
  font-size: 0.9rem;
  text-decoration: none;
  transition: text-shadow 0.3s ease-in-out;
}

.hero-section-cta>a:hover {
  text-shadow: 0px 0px 9px var(--clr-accent);
}
