:root {
  --size-navbar-h: 3rem;
  --size-navbar-p-y: 0.6rem;
  --size-navbar-p-x: 2rem;
}

.book {
  height: 380px;
  width: 240px;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {

    opacity: 1;
  }
}

@keyframes scrollDown {
  from {
    transform: translateY(-5rem);
  }

  to {
    transform: translateY(0);
  }
}
