:root {
  --clr-primary: #F4F0E8;
  --clr-secoundary: #000;
  --clr-secoundary-2: #252525;
  --clr-accent-2: #213149;
  --clr-accent: #3483eb;
  --clr-gradient: linear-gradient(90deg, #FF5151 9%, #594EF3 58%, #8C3CEE 87%);
  --clr-shadow: rgba(0, 0, 0, 0.25);
  --clr-light-black: #AAAAAA;

  --size-mobile-md: 640px;
}

* {}

#root {
  background: var(--clr-primary);
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  box-sizing: border-box;
  min-width: 390px;
  font-style: normal;
  min-height: 100vh;

}

#root>* {
  max-width: 100%;
  max-height: 100%;
}

html,
body {
  position: relative;
  box-sizing: border-box;
  max-width: 100vw;
  max-height: 100vh;
  padding: 0px;
  margin: 0px;
}

@media screen and (max-width:640px) {
  .display-desktop-only {
    position: absolute;
    top: -99999px;
    scale: 0;
  }

  #root {
    font-size: 12px;
  }

  .logo {
    font-weight: 700;
    font-size: 1.2rem;
  }

  .books>*:nth-child(1) {
    display: none;
    position: absolute;
    top: 0px;
    scale: 0;
  }

}

.btn {
  padding: 0.9rem 1.2rem;
  background-color: var(--clr-secoundary-2);
  color: var(--clr-primary);
  border: none;
  font-weight: 500;
  border-radius: 45% /100%;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background: #000;
}

.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m:
    conic-gradient(#0000 10%, #000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  to {
    transform: rotate(1turn)
  }
}

.success {
  background: #25b09b;
}

.fail {
  background: red;
}

.loading {
  background: white;
}

.success>svg {
  scale: 1;
  animation: SuccessAppear 500ms ease;
}

.fail>svg {
  scale: 1;
  animation: SuccessAppear 500ms ease;
}

@keyframes SuccessAppear {
  from {
    scale: 0;
  }
}
