.singup-section {
  padding-bottom: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 100vh; */
}

input:focus-within {
  outline: none;
}

.singup-section>h1 {
  padding: 1rem 0rem 0rem 0rem;
  font-size: 1.5rem;
}


.user-details {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 0.95rem;
}

.user-details>label {
  padding-bottom: 0.2rem;
}


.user-details>input:not(input[type="submit"]) {
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  background: #ede9e8;
  box-shadow: 2px 2px 4px #dbd7d7, inset 2px 2px 4px #dbd7d7;
  margin-bottom: 1rem;
  padding: 0.8rem;
}

.user-details>textarea {
  resize: none;
  padding: 0.8rem;
  border: none;
  box-shadow: 2px 2px 4px #dbd7d7, inset 2px 2px 4px #dbd7d7;
  background: white;
  border-radius: 0.3rem;
}


.singup-submit {
  padding: 0.7rem 1.1rem;
  margin: 2rem 0rem;
  background-color: var(--clr-secoundary-2);
  color: var(--clr-primary);
  border: none;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.singup-submit:hover {
  background: #000;
}

.avatar-uploader {
  scale: 0;
  position: absolute;
}

.user-details>label[for="user"] {
  padding-top: 1rem;
}

label[for=description] {
  padding-top: 1rem;
}
